/* some default colors and stuff */
table td {
    color: #343434;
}
a {text-decoration:none;}
.container_table {
    width: 100%;
}

/* --------- bizcard stuff --------------*/
.blue-left{width:120px;background-color:#1b5b7e;color:#ffffff;font-weight:400;
  font-family:"Open Sans",sans-serif;padding-left:15px;line-height:22px;}
.table-spacer{width:100%;height:10px;}
.circle-photo{margin-left:25px;}
.bizcard-logo{margin-left:10px;width:100px;}
.name-company{font-family:"Open Sans",sans-serif;font-weight:600;font-size:14px;}
.office-mobile{font-family:"Open Sans",sans-serif;font-weight:200;font-size:12px;}
.tel-link{color:#3d9dd2;}
.email-link{font-family:"Open Sans",sans-serif;font-weight:200;font-size:12px;color:#3d9dd2;}
.blue-right{width:5px;background-color:#2fb6ef;}
.green-right{width:5px;background-color:#12bc25;}
.brown-right{width:5px;background-color:#bea486;}
.right-title{font-family:"Open Sans",sans-serif;font-weight:200;font-size:12px;padding-right:5px;font-style:italic;}
.nmls{font-family:"Open Sans",sans-serif;font-size:12px;}
.nmls-link{font-family:"Open Sans",sans-serif;color:#3d9dd2;}
.spacer-size{font-size:8px;}
.title-spacer{margin-bottom:15px;}
/* --------- bizcard stuff --------------*/


.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #ebeaea;
}

.fixedwidth {
    width: 620px;
}
.header_table{
  background-color:#2a94ce;
  height:90px;
}
.houses_table{
  background-color:#ffffff;
}
.houses_text{
  color:#0076b9;
  font-size: 28px;
  font-weight:bold;
  font-family:"Open Sans",sans-serif;
}
.hero-content{
  font-size: 22px;
  font-family:"Open Sans",sans-serif;
  padding-left: 70px;
  padding-right: 70px;
}
.hero-highlight{
  color:#fdb714;
}
.header_container {
    padding-top: 20px;
}
.change-highlight{color:green;}

.header_logo {
    width: 230px;
    height:52px;
}
.falling_houses{
  width:600x;
  /*height:199px;*/
}
.header_text {
    padding-left: 10px;
    font-size: 24px;
    font-family:"Open Sans",sans-serif;
    color:#ffffff;
}
.superscript{font-size:6px;}
.topcopy {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 18px;
}

.whitebg {
    background-color: #ffffff;
}

.listing_photo {
    width: 400px;
    display: block;
}

.listing_photo img {
    max-width: 400px;
}

.listing_info {
    display: block;
    width: 220px;
    padding-left: 20px;
    padding-right: 0px;
    vertical-align:top;
}
.valign_top {
    vertical-align: top;
}
.bizcard_padding {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.bizcard_photo {
    width: 60px;
}
.bizcard_copy_td {
    padding-left: 15px;
}

.bizcard_header {
    font-weight: bold;
    color: #363636;
}

.getapp {
    color: #706e6e;
    font-size: 20px;
    padding-right: 10px;
}

.appstore {
    padding-right: 10px;
}

.unsub {
  color:#47c6ab;
  font-size: 9px;
  font-family:"Open Sans",sans-serif;
  text-decoration:none;
}

.fineprint {
    color: #989b9d;
}

.listprice {
    font-size: 16px;
    font-weight:bold;
    font-family:"Open Sans",sans-serif;
    padding-bottom: 4px;
}
.td-spacer{height:5px;}
.listing_info_copy {
  font-family:"Open Sans",sans-serif;
  font-size:20px;
  padding-top:5px;
}
.listing_info_copy2 {
  font-family:"Open Sans",sans-serif;
  font-size:22px;
  font-weight:bold;
}



.listing_status {
    color: #3da938;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content{
  font-size:9px;
  font-family:"Open Sans",sans-serif;
  color:#bcbcbc;
  padding-bottom:20px;
}
.team-photo{
  width:100px;
  padding-left:10px;
  padding-right:10px;
}
.team-link{
  text-decoration: none;
}
