/* some default colors and stuff */
table td {
    color: #343434;
}

.container_table {
    width: 100%;
}

.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}
.header_strip {
  background-color: #F47532;
  height:10px;
}
.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #1B75BC;
}

.fixedwidth {
    width: 620px;
}

.header_container {
    padding-top: 20px;
    background-color:#1B75BC;
}

.header_logo {
    width: 38px;
}

.header_text {
    padding-left: 10px;
    font-size: 24px;
    color:#ffffff;
}
.whitebg {
    background-color: #ffffff;
}
.listing_info {
    display: inline-block;
    width: 220px;
    padding-left: 20px;
    padding-right: 0px;
}
.valign_top {
    vertical-align: top;
}
.unsub {
    color: #288dd1;
}

.fineprint {
    color: #ffffff;
    text-align:center;
    padding-left: 100px;
    padding-right: 100px;
    font-size:12px;
}
.reset-button-container{
  text-align:center;
}
.reset-button{
  height:40px;
  width:200px;
  font-size:18px;
  color:#ffffff;
  background-color:#e8603e;
  border-style: none;
}
.forgot-text{
  text-align:center;
  font-size:24px;
  color:#292929;
}
.pad-forgot-text{
  padding-left:95px;
  padding-right:95px;
}
.logo{
  width:340px;
  height:65px;
}
.forgot-header{
  color:#1B75BC;
  font-weight:bold;
  font-size:30px;
}
.username-text{
  font-weight:bold;
  font-size:26px;
}
