/* some default colors and stuff */
table td {
    /*color: #343434;*/
}

.container_table {
    width: 100%;
    font-family: sans-serif;
}

.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}
.header_strip {
  background-color: #F47532;
  height:10px;
}
.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #1B75BC;
}

.fixedwidth {
    width: 620px;
}

.header_container {
    padding-top: 20px;
    background-color:#1B75BC;
}

.header_logo {
    width: 538px;
}

.header_text {
    padding-left: 10px;
    font-size: 24px;
    color:#ffffff;
}
.whitebg {
    background-color: #ffffff;
}
.listing_info {
    display: inline-block;
    width: 220px;
    padding-left: 20px;
    padding-right: 0px;
}
.valign_top {
    vertical-align: top;
}
.fineprint {
    color: #ffffff;
    text-align:center;
    padding-left: 100px;
    padding-right: 100px;
    font-size:12px;
}
.forgot-text{
  text-align:center;
  font-size:24px;
}
.pad-forgot-text{
  padding-left:55px;
  padding-right:55px;
}
.logo{
  padding-top:15px;
  width:250px;
  height:55px;
}
.forgot-header{
  color:#1B75BC;
  font-weight:bold;
  font-size:30px;
}
.username-text{
  font-weight:bold;
  font-size:26px;
}
