/* some default colors and stuff */
table td {
    color: #343434;
}

.container_table {
    width: 100%;

    /* bugfix for yahoo mail, for table alignment in nested tables. only needs to be on outermost container table */
    table-layout: fixed;
}

.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #ebeaea;
}

.fixedwidth {
    width: 620px;
}

.header_container {
    padding-top: 20px;
}

.header_logo {
    width: 38px;
}

.header_text {
    padding-left: 10px;
    font-size: 24px;
}

.topcopy {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
}

.whitebg {
    background-color: #ffffff;
}

.listing_photo {
    width: 337px;
    display: inline-block;
}

.listing_info {
    display: inline-block;
    width: 217px;
    padding-left: 20px;
}
.valign_top {
    vertical-align: top;
}
.bizcard_padding {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.bizcard_photo {
    width: 60px;
}
.bizcard_copy_td {
    padding-left: 15px;
}

.bizcard_header {
    font-weight: bold;
    color: #363636;
}

.getapp {
    color: #706e6e;
    font-size: 20px;
    padding-right: 10px;
}

.appstore {
    padding-right: 10px;
}

.unsub {
    color: #288dd1;
}

.fineprint {
    color: #989b9d;
}

.listprice {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.listing_info_copy {
    padding-bottom: 0px;
}

.listing_status {
    color: #3da938;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* override styles up to the inline width of the container. */
/* max-width here should match the .fixedwidth */
@media screen and (max-width: 500px) {
    .listing_photo, .listing_info {
        display: block !important;
        width: 100% !important;
    }
    .listing_photo img {
        width: 100%;
        max-width: 100%;
    }
    .listing_info {
        padding-top: 20px;
        padding-left: 0;
    }
}