/* some default colors and stuff */
table td {
    color: #343434;
}

.container_table {
    width: 100%;
}

.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #FFFFFF;
}

.fixedwidth {
    width: 620px;
}

.header_container {
    padding-top: 20px;
    background-color:#3ee8a7;
}

.header_logo {
    width: 38px;
}

.header_text {
    padding-left: 10px;
    font-size: 24px;
    color:#ffffff;
}

.topcopy {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
}

.whitebg {
    background-color: #ffffff;
}

.forgot_photo {
    width: 290px;
    display: inline-block;
}

.forgot_photo img {
    max-width: 100%;
}

.listing_info {
    display: inline-block;
    width: 220px;
    padding-left: 20px;
    padding-right: 0px;
}
.valign_top {
    vertical-align: top;
}
.bizcard_padding {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.bizcard_photo {
    width: 60px;
}
.bizcard_copy_td {
    padding-left: 15px;
}

.bizcard_header {
    font-weight: bold;
    color: #363636;
}

.getapp {
    color: #706e6e;
    font-size: 20px;
    padding-right: 10px;
}

.appstore {
    padding-right: 10px;
}

.unsub {
    color: #288dd1;
}

.fineprint {
    color: #989b9d;
    text-align:center;
    padding-left: 100px;
    padding-right: 100px;
}

.listprice {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.listing_info_copy {
    padding-bottom: 0px;
}

.listing_status {
    color: #3da938;
    padding-top: 20px;
    padding-bottom: 20px;
}
.team-photos{
  text-align:center;
}
.reset-button-container{
  text-align:center;
}
.reset-button{
  height:40px;
  width:200px;
  font-size:18px;
  color:#ffffff;
  background-color:#e8603e;
  border-style: none;
}
.forgot-text{
  text-align:center;
  font-size:16px;
  color:#292929;
}
.pad-forgot-text{
  padding-left:95px;
  padding-right:95px;
}
.team-photo{
  width:75px;
  height:75px;
  margin-right:20px;
}
