/* some default colors and stuff */
table td {
    color: #343434;
}
a {text-decoration:none;}
.container_table {
    width: 100%;
}
.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}
.bgcolor {
    background-color: #ebeaea;
}
.fixedwidth {
    width: 620px;
}
.header_container {
    padding-top: 20px;
}
.header_logo {
    width: 230px;
    height:52px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header_table{
  background-color:#2a94ce;
  height:90px;
}
.main_table{
  background-color:#ffffff;
}
.grats_text{
  color:#2a94ce;
  font-size: 34px;
  font-family:"Open Sans",sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}
.addy_text{
  color:#000000;
  font-size: 30px;
  font-family:"Open Sans",sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}
.flyer_text{
  font-size: 24px;
  font-family:"Open Sans",sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.link_text{
  font-size: 24px;
  font-family: "Open Sans",sans-serif;
  color: #2a94ce;
  padding-top: 10px;
  padding-bottom: 40px;
}
.next_text {
    color:#000000;
    font-size: 26px;
    font-weight: bold;
    font-family:"Open Sans",sans-serif;
    padding-bottom: 40px;
}
.sell_text{
  font-size: 26px;
  font-family:"Open Sans",sans-serif;
  padding-top: 10px;
  padding-bottom: 40px;
}
.jl_flag img {
  padding-top: 30px;
  padding-bottom: 20px;
  height:190px;
}
.button_style {
    padding-bottom: 50px;
}
.whitebg {
    background-color: #ffffff;
}
.listing_info {
    display: block;
}
.fineprint {
    color: #989b9d;
}
.footer-content{
  font-size:9px;
  font-family:"Open Sans",sans-serif;
  color:#bcbcbc;
  padding-bottom:20px;
}
