/* some default colors and stuff */
table td {
    color: #343434;
}
a {text-decoration:none;}
.container_table {
    width: 100%;
}

.content_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.stack_column {
    display: block !important;
    width: 100% !important;
}

.bgcolor {
    background-color: #ebeaea;
}

.fixedwidth {
    width: 620px;
}
.header_table{
  background-color:#2a94ce;
  height:90px;
}
.houses_table{
  background-color:#ffffff;
}
.houses_text{
  color:#0076b9;
  font-size: 26px;
  font-family:"Open Sans",sans-serif;
}
.hero-content{
  font-size: 18px;
  font-family:"Open Sans",sans-serif;
  padding-left: 70px;
  padding-right: 70px;
}
.hero-highlight{
  color:#fdb714;
}
.header_container {
    padding-top: 20px;
}

.header_logo {
    width: 230px;
    height:52px;
}
.falling_houses{
  width:600x;
  /*height:199px;*/
}
.header_text {
    padding-left: 10px;
    font-size: 24px;
    font-family:"Open Sans",sans-serif;
    color:#ffffff;
}
.superscript{font-size:6px;}
.topcopy {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 18px;
}

.whitebg {
    background-color: #ffffff;
}

.listing_photo {
    width: 200px;
    display: block;
}

.listing_photo img {
    max-width: 100%;
}

.listing_info {
    display: block;
    width: 220px;
    padding-left: 20px;
    padding-right: 0px;
    vertical-align:top;
}
.valign_top {
    vertical-align: top;
}
.bizcard_padding {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.bizcard_photo {
    width: 60px;
}
.bizcard_copy_td {
    padding-left: 15px;
}

.bizcard_header {
    font-weight: bold;
    color: #363636;
}

.getapp {
    color: #706e6e;
    font-size: 20px;
    padding-right: 10px;
}

.appstore {
    padding-right: 10px;
}

.unsub {
  color:#47c6ab;
  font-size: 9px;
  font-family:"Open Sans",sans-serif;
  text-decoration:none;
}

.fineprint {
    color: #989b9d;
}

.listprice {
    font-size: 16px;
    font-weight:bold;
    font-family:"Open Sans",sans-serif;
    padding-bottom: 4px;
}
.td-spacer{height:5px;}
.listing_info_copy {
  font-family:"Open Sans",sans-serif;
  font-size:16px;
  padding-bottom: 3px;
}
.listing_info_copy2 {
  font-family:"Open Sans",sans-serif;
  color:#2a94ce;
  font-size:16px;
  padding-bottom: 3px;
}



.listing_status {
    color: #3da938;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content{
  font-size:9px;
  font-family:"Open Sans",sans-serif;
  color:#bcbcbc;
  padding-bottom:20px;
}
.team-photo{
  width:100px;
  padding-left:10px;
  padding-right:10px;
}
.team-link{
  text-decoration: none;
}
